<div class="cart-content">
  <div class="cart-sidebar">
    <div class="cart-header">
      <h4>Your Cart</h4>
      <button class="close-cart" (click)="closeCart()">×</button>
    </div>

    <div class="cart-scrollable-content">
      <ng-container *ngIf="cartItems.length > 0; else emptyCart">
        <div class="total-price">
          <strong>Total Price:</strong>
          ${{ getTotalPrice() }}
        </div>
        <div class="cart-total-quantity">
          <span>
            <strong>Total Quantity:</strong>
            {{ getTotalQuantity() }}
          </span>
        </div>
        <ul>
          <ng-container *ngFor="let item of cartItems">
            <li>
              <div class="cart-item">
                <img
                  [src]="item.bookImage"
                  alt="{{ item.title }}"
                  class="cart-item-image"
                />
                <span>{{ item.title }}</span>
                <div class="price-quantity">
                  <span>Price: ${{ item.totalPrice }}</span>
                  <div class="delete-quantity">
                    <i
                      class="bi bi-trash3"
                      (click)="removeFromCart(item.bookId)"
                    ></i>
                    <app-cart-quantity
                      [bookId]="item.bookId"
                      class="abc"
                      (quantityChanged)="updateBuyButtonState()"
                    ></app-cart-quantity>
                  </div>
                </div>
              </div>
            </li>
          </ng-container>
        </ul>
      </ng-container>
      <ng-template #emptyCart>
        <p>Your cart is empty.</p>
      </ng-template>
    </div>

    <div class="checkout-btn">
      <button>Checkout</button>
    </div>
  </div>
</div>
