:host {
  .landing-page-container {
    height: 91vh;

    .landingPageImage {
      width: 100%;
      height: 99%;

      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        margin-top: 0.5rem !important;
      }
    }

    .landing-page-title {
      color: darkred;
      font-size: 2.5rem;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      line-height: 2.5rem;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    }

    @media (min-width: 2560px) {
      .landing-page-title {
        font-size: 4rem;
        line-height: 4rem;
        top: 25%;
      }

      .landingPageImage {
        margin-top: 3rem;
        height: 100%;
      }
    }
  }
}
