<nav class="navbar navbar-expand-lg navbar-light mb-1" style="background-color: rgb(163, 155, 201);">
    <div class="container-fluid" style="padding: 0;">
        <a class="navbar-brand" routerLink="">
            <img src="assets/pic.jpg" alt="Logo" class="rounded-circle" style="height: 40px; margin-right: 10px;">
            <span class="text-uppercase" >HTML</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto d-flex align-items-center gap-3">
                <li class="nav-item" 
                    *ngFor="let link of navLinks">
                    <a 
                        class="nav-link font-italic fs-5" 
                        [routerLink]="link.path" 
                        routerLinkActive="active-link" 
                    >
                        {{link.label}}
                    </a>
                </li>
            </ul>
            <app-toggle-button></app-toggle-button>
        </div>
    </div>
</nav>