<nav class="custom-navbar">
  <div class="navbar-container">
    <a class="navbar-brand" routerLink="">
      <img src="assets/pic.jpg" alt="Logo">
      <span>HTML</span>
    </a>
    <div class="navbar-links">
      <ul>
        <ng-container *ngFor="let link of navLinks">
          <li>
            <a [routerLink]="link.path" routerLinkActive="active-link">
              {{ link.label }}
            </a>
          </li>
        </ng-container>
        <li>
          <a class="nav-link-cart" (click)="cartClick.emit()">
            <i class="bi bi-cart4"></i>
            <ng-container *ngIf="getTotalCartQuantity() > 0">
              <span 
                class="cart-quantity-badge" 
                [attr.title]="getTotalCartQuantity()"
              >
                  {{ getTotalCartQuantity() > 99 ? (getTotalCartQuantity() + '').slice(0,2) + '...' :
                  getTotalCartQuantity() }}
              </span>
            </ng-container>
          </a>
        </li>
      </ul>
      <app-toggle-button></app-toggle-button>
    </div>
  </div>
</nav>