:host {
    .custom-navbar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 3rem;
      background-color: rgb(163, 155, 201);
      z-index: 1000;
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      padding: 0 3rem;
    }
  
    .navbar-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  
    .navbar-brand {
      display: flex;
      align-items: center;
      font-weight: bold;
      letter-spacing: 1px;
  
      img {
        height: 40px !important;
        border-radius: 50%;
        margin-right: 10px !important;
      }
  
      span {
        text-transform: uppercase;
        // font-size: 1.3rem !important;
      }
    }
  
    .navbar-links {
      display: flex;
      align-items: center;
      gap: 15px;
  
      ul {
        display: flex;
        align-items: center;
        gap: 15px;
        list-style: none;
        margin: 0;
        padding: 0;
  
        li a {
          text-decoration: none;
          color: #333;
          font-size: 1.3rem;
  
          &.active-link {
            color: purple;
          }
  
          &:hover {
            color: purple;
          }
        }
  
        .nav-link-cart {
          position: relative;
          padding: 0;
  
          i {
            color: #333;
            font-size: 1.6rem;
          }
  
          .cart-quantity-badge {
            position: absolute;
            top: -5px;
            right: -5px;
            background-color: red;
            color: white;
            font-size: 12px;
            border-radius: 50%;
            padding: 1px 6px;
          }
        }
      }
  
      app-toggle-button {
        display: flex;
        align-items: center;
      }
    }
  
    @media screen and (min-width: 1024px) {
      .custom-navbar {
        height: 3.4rem;
      }
  
      .navbar-brand img {
        height: 20px;
      }
  
      .navbar-brand span {
        font-size: 1.3rem !important;
      }
  
      .navbar-links ul li a {
        font-size: 1.2rem !important;
      }
  
      app-toggle-button {
        font-size: 0.8rem;
      }
    }
  
    @media screen and (min-width: 1440px) {
      .custom-navbar {
        height: 4rem;
      }
  
      .navbar-brand span {
        font-size: 1.5rem;
      }
  
      .navbar-links ul li a {
        font-size: 1.5rem !important;
      }
    }
  
    @media screen and (min-width: 2560px) {
      .custom-navbar {
        height: 7rem;
        padding: 0 4rem;
      }
  
      .navbar-brand span {
        font-size: 3.2rem;
      }
  
      .navbar-brand img {
        height: 70px !important;
      }
  
      .navbar-links ul li a {
        font-size: 2.7rem !important;
      }
    }
  }
  