<div class="content">
    <h2>This website contains a list of available Books</h2>
    <h3>The list of books available are:</h3>
    <div>
        <ol class="list-items">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>NodeJS</li>
            <li>Python</li>
            <li>MongoDB</li>
            <li>Node</li>
            <li>Databases</li>
            <li>JSON</li>
            <li>AWS</li>
            <li>Flask</li>
            <li>Angular</li>
            <li>Express</li>
        </ol>
    </div>
</div>