/* Reset styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* Content container for the cards */
.content-container {
  display: flex;
  flex-wrap: wrap; /* Cards will wrap on smaller screens */
  justify-content: space-evenly; /* Distribute cards evenly */
  gap: 1rem; /* Gap between cards */
  height: 91vh;
  padding: 1rem;
  overflow: auto;
}

/* Card Styles */
.card {
  position: relative;
  width: 200px;
  height: 15rem; /* Fixed height for all cards */
  background-color: rgb(183, 164, 201);
  color: rgb(37, 34, 34);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
  overflow: hidden;

  &:hover {
    transform: scale(1.05);
    background-color: rgb(153, 128, 174);
  }

  .card-img-top {
    width: 100%;
    height: 50%; /* Fixed height for the image */
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 0.4rem;
  }

  h3 {
    font-size: 0.6rem;
    color: black;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    padding-bottom: 0.7em;
  }

  p {
    font-size: 0.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    margin: 0;
    color: rgb(72, 72, 72);
  }

  .price {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(37, 34, 34);
    margin: 0;
  }

  a {
    font-size: 0.75rem;
    color: #007bff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .popover {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
    height: 30%;
    width: 80%;
    
    display: none; /* Hidden by default */
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
    border-radius: 4px;
    z-index: 10;
    max-width: 90%;
    overflow: auto;
    word-break: break-word;
    white-space: normal;
    pointer-events: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 1.2;
  }

  &:hover .popover {
    display: flex; /* Show popover on hover */
  }
}
