<div class="card">
  <img class="card-img-top" [src]="book.image" alt="{{ book.title }}" />
  <h3>{{ book.title }}</h3>
  <p class="subtitle" (mouseenter)="showPopover()" (mouseleave)="hidePopover()">
    {{ book.subtitle }}
  </p>
  <p>Price: <strong>{{ book.price }}</strong></p>
  <a  (click)="openModal()">More Details</a>
    <div *ngIf="modalVisible" class="modal-overlay" (click)="closeModal()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <app-more-details
          *ngIf="selectedBook"
          [book]="selectedBook"
          (close)="closeModal()"
        ></app-more-details>
        <button (click)="closeModal()">Close</button>
      </div>
  </div>

  <div *ngIf="popoverVisible" class="popover">
    {{ book.subtitle }}
  </div>
</div>
