<div class="card book-card">
  <img class="card-img-top" [src]="book.image" alt="{{ book.title }}" />
  <h3>{{ book.title }}</h3>

  <p class="subtitle" 
    (mouseenter)="showPopover()" 
    (mouseleave)="hidePopover()"
  >
    {{ book.subtitle }}
  </p>

  <p>Price: <strong>{{ book.price }}</strong></p>
  <a (click)="openModal()">More Details</a>
  
  <!-- modal for book-card -->
  <div *ngIf="modalVisible" 
    class="modal-overlay" 
    (click)="closeModal()"
  >
    <div class="modal-wrapper" (click)="$event.stopPropagation()">
      <div class="modal-content">
        <ng-container *ngIf="selectedBook">
          <app-more-details  
            [book]="selectedBook" 
            (close)="closeModal()"
          >
          </app-more-details>
        </ng-container> 
      </div>
      <button class="modal-close-btn" (click)="closeModal()">Close</button>
    </div>
  </div>

  <ng-container *ngIf="popoverVisible">
    <div  class="popover">
      {{ book.subtitle }}
    </div>
  </ng-container>
</div>