<div class="book-page-wrapper">
  <div class="book-page-filters">
    <app-book-page-filters
      (sortByPrice)="onSortByPrice($event)"
      (bookSelected)="onBookFilterChange($event)"
      (searchKeyword)="onSearchInput($event)">
    </app-book-page-filters>
  </div>

  <div class="cards-container-wrapper">
    <ng-container *ngIf="loading">
      <div class="text-center my-4 loading-message">
        <div class="spinner-border text-primary" role="status"></div>
        <div>Loading books, please wait...</div>
      </div>
    </ng-container>

    <ng-container *ngIf="!loading && !noBooksFound; else noBooks">
      <div class="cards-container">
        <ng-container *ngFor="let book of books">
          <app-book-card 
            [book]="book"
            (moreDetails)="openModal($event)">
          </app-book-card>
        </ng-container>
      </div>
    </ng-container>

    <ng-template #noBooks>
      <ng-container *ngIf="!loading && noBooksFound">
        <div class="text-center mt-4 text-muted no-books-message">
          No books found.
        </div>
      </ng-container>
    </ng-template>
  </div>

  <ng-container *ngIf="!loading && !noBooksFound">
    <div class="pagination-container text-center">
      <button 
        (click)="onPageChange(currentPage - 1)" 
        [disabled]="currentPage === 1"
      >
        &lt;
      </button>
      <ng-container *ngFor="let page of getVisiblePages()">
        <button 
          (click)="onPageChange(page)" 
          [class.active]="page === currentPage"
        >
          {{ page }}
        </button>
      </ng-container>
      <button 
        (click)="onPageChange(currentPage + 1)" 
        [disabled]="currentPage === getTotalPages()"
      >
        &gt;
      </button>
    </div>
  </ng-container>
</div>
