<div class="content-container">
  <app-book-page-filters
    [books]="books"
    [selectedBook]="selectedBook"
    [searchText]="searchText"
    (sortChanged)="onSortChanged($event)"
    (bookSelected)="onBookSelected($event)"
    (searchChanged)="onSearchChanged($event)">
  </app-book-page-filters>

  <div class="cards-container-wrapper">
    <div *ngIf="loading" class="text-center my-4">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div>Loading books, please wait...</div>
    </div>

    <ng-container *ngIf="!loading && !noBooksFound; else noBooks">
      <div class="cards-container">
        <app-book-card *ngFor="let book of paginatedBooks" [book]="book"></app-book-card>
      </div>
    </ng-container>

    <ng-template #noBooks>
      <div class="text-center mt-4 text-muted">
        No books found.
      </div>
    </ng-template>
  </div>

  <div *ngIf="!loading && totalPages > 1" class="pagination-container text-center">
    <button class="btn arrow-btn-left" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">&lt;</button>
    <button
      *ngFor="let page of getVisiblePages()"
      class="btn"
      [ngClass]="{ 'btn-primary': page === currentPage, 'btn-outline-primary': page !== currentPage }"
      (click)="onPageChange(page)">
      {{ page }}
    </button>
    <button class="btn arrow-btn-right" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages">&gt;</button>
  </div>
</div>
