<div class="cards-container">
  <ng-container *ngFor="let book of books">
    <ng-template [ngTemplateOutlet]="cardTemplate" [ngTemplateOutletContext]="{ $implicit: book }"></ng-template>
  </ng-container>
</div>

<ng-template #cardTemplate let-book>
  <div class="card">
    <div class="ribbon">New</div>

    <img [src]="book.image" alt="{{ book.title }}" />
    <h3>{{ book.title }}</h3>
    <p>{{ book.subtitle }}</p>
    <p>Price: <strong>{{ book.price }}</strong></p>
    <a [href]="book.url" target="_blank">More Details</a>
  </div>
</ng-template>



