:host {
  :host-context(.dark-theme) {
    .card {
      background-color: #80b682;

      &:hover {
        transform: scale(1.05);
        background-color: #80b682 !important;
      }
    }

    h3 {
      color: rgba(12, 11, 11, 0.811) !important;
    }

    a {
      color: rgba(247, 28, 28, 0.811) !important;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: rgba(190, 7, 7, 0.811) !important;
      }
    }

    p {
      color: #130404b5 !important;
    }

    .ribbon {
      background-color: rgb(222, 54, 82) !important;
    }
  }

  .scroll-container {
    height: 91vh;
    overflow-y: auto;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .carousel-viewport {
    width: 100%;
    padding: 1rem 0;
    overflow: hidden;
  }

  .carousel-track-wrapper {
    overflow: hidden;
    width: 53%;
  }

  .carousel-track {
    display: flex;
    justify-content: initial;
    padding-left: 0.8rem !important;
    transition: transform 0.5s ease;
  }

  .carousel-card {
    width: 7rem;
    height: 18rem;
    transition: transform 0.3s ease;

    &.edge-card {
      transform: scale(0.6);
      z-index: 1;
    }

    &.near-middle {
      transform: scale(0.7);
      z-index: 2;
    }

    &.middle-card {
      transform: scale(0.8);
      z-index: 3;
    }

    .card {
      height: 100%;
      position: relative;
      text-align: center;
      box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.1);
    }

    img {
      width: 5rem;
      height: auto;
      border-radius: 0.5rem;
    }

    h5 {
      font-size: 1rem;
      margin-bottom: 0;
    }

    p {
      font-size: 0.8rem;
      margin-bottom: 0;
    }

    a {
      font-size: 0.75rem;
      color: rgb(145, 26, 243);
      text-decoration: none;
    }
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.4rem;
  }

  .card {
    width: 15.625rem;
    height: 18.75rem;
    margin: 0.3125rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: rgb(183, 164, 201);
    color: rgb(37, 34, 34);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease, background-color 0.3s ease;

    img {
      width: 5rem;
      height: auto;
      border-radius: 0.5rem;
    }

    h3 {
      font-size: 0.9rem;
      color: black;
    }

    p {
      font-size: 0.8rem;
    }

    a {
      font-size: 0.75rem;
      color: rgb(145, 26, 243);
      text-decoration: none;
    }

    &:hover {
      transform: scale(1.05);
      background-color: rgb(153, 128, 174);
    }

    .more-details-tag:hover {
      text-decoration: underline;
    }
  }

  .ribbon {
    width: 9.375rem;
    background: crimson;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 0.75rem;
    padding: 0.3125rem 0;
    position: absolute;
    left: -3.4375rem;
    transform: rotate(-45deg);
    z-index: 10;
    box-shadow: 0 0.1875rem 0.625rem rgba(0, 0, 0, 0.3);
  }

  .loading-spinner {
    text-align: center;
    padding: 1.25rem;
    font-size: 1rem;
    color: #555;
  }

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .scroll-top-btn {
    position: fixed;
    bottom: 0;
    right: 2rem;
    background-color: rgb(130, 110, 231);
    color: white;
    border: none;
    border-radius: 2rem;
    padding: 0.75rem 1.2rem;
    font-size: 0.9rem;
    cursor: pointer;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: opacity 0.3s ease;

    &:hover {
      background-color: rgb(112, 86, 240);
    }
  }
}


@media (min-width: 1024px) and (max-width: 1439px) {
  :host {
    .carousel-track-wrapper {
      width: 68%;
      margin-right: 2rem;
    }

    .carousel-track {
      padding-left: 0 !important;
      display: flex;
      justify-content: center;
      align-items: center;
      // padding-right: 2.5rem;
      // margin-right: 3rem;
    }

  }
}

@media (min-width: 1440px) and (max-width: 2559px) {
  :host {
    .carousel-track-wrapper {
      width: 60% !important;
      padding-right: 2rem !important;
    }

    .carousel-track {
      padding-left: 0 !important;
    }

    .cards-container {
      gap: 6.6rem !important;
    }

    .carousel-card {
      width: 10rem;
      height: 24rem;

      &.edge-card {
        transform: scale(0.7);
      }

      &.near-middle {
        transform: scale(0.8);
      }

      &.middle-card {
        transform: scale(0.9);
      }

      img {
        width: 6.5rem;
      }

      h5 {
        font-size: 1.1rem;
      }

      p,
      a {
        font-size: 0.95rem;
      }
    }
  }
}

@media (min-width: 2560px) {
  :host {
    .carousel-track-wrapper {
      width: 55% !important;
      padding-right: 2.3rem !important;
    }

    .carousel-track {
      padding: 5rem;
    }

    .carousel-card {
      width: 15rem;
      height: 29rem;

      &.edge-card {
        transform: scale(0.75);
      }

      &.near-middle {
        transform: scale(0.85);
      }

      &.middle-card {
        transform: scale(1);
      }

      img {
        width: 7.5rem;
      }

      h5 {
        font-size: 1.25rem;
      }

      p,
      a {
        font-size: 1rem;
      }
    }

    .cards-container {
      gap: 6rem !important;
    }

    .card {
      width: 25rem;
      height: 28rem;

      img {
        width: 8.5rem;
      }

      h3 {
        font-size: 1.1rem;
      }

      p {
        font-size: 0.95rem;
      }

      a {
        font-size: 0.9rem;
      }
    }

    .scroll-top-btn {
      padding: 1.75rem 1.8rem;
      font-size: 1.5rem;
    }
  }
}
