:host {
  .title {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }

  .card {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    gap: 2rem;
    border: none;
    box-shadow: none;
    outline: none;
    margin: 1rem;

    .card-image {
      flex: 0 0 25%;
      max-width: 25%;
      height: 90%;
      position: relative;

      .image-container {
        background-color: #eee;
        margin-bottom: 2rem;
      }

      .button-container {
        .btn-buy {
          padding: 0.625rem 0.9375rem;
          width: 100%;
          background-color: rgb(191, 180, 247);
          margin-bottom: 1rem;
        }

        .btn-preview {
          padding: 0.625rem 0.9375rem;
          width: 100%;
          background-color: #f0eded;
        }
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 0.625rem;
      }
    }

    .card-body {
      display: flex;
      align-items: center;
      padding-left: 1rem;

      table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;

        tr:nth-child(odd) {
          background-color: #eee;
        }

        td {
          padding: 0.5rem;
          font-size: 1rem;
          vertical-align: top;
          word-wrap: break-word;
          text-align: left;

          &:first-child {
            width: 20%;
            white-space: normal;
          }

          &:last-child {
            width: 50%;
          }

          strong {
            background-color: inherit;
          }

          a {
            background-color: inherit;
            text-decoration: none;
            color: black;
            padding-left: 0;
            border-radius: 0.3125rem;
            transition: background-color 0.3s;

            &:hover {
              color: rgb(82, 82, 141);
              text-decoration: underline !important;
            }
          }

          .btn {
            background-color: inherit;
            padding-left: 0;
            border: none;

            &:hover {
              color: rgb(82, 82, 141);
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

:host-context(.book-card) {
  .card {
    background-color: #f9f9f9;
    padding: 0.5rem;
    font-size: 0.975rem;

    .card-image {
      flex: 0 0 25%;
      max-width: 25%;
      height: 80%;
      position: relative;

      .image-container {
        background-color: #fafafa;
        margin-bottom: 1rem;
      }

      .button-container {
        .btn-buy {
          padding: 0.5rem 0.75rem;
          width: 100%;
          background-color: rgb(220, 190, 247);
          margin-bottom: 0.5rem;
        }

        .btn-preview {
          padding: 0.5rem 0.75rem;
          width: 100%;
          background-color: #e0e0e0;
        }
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 0.5rem;
      }
    }

    .card-body {
      display: flex;
      align-items: center;
      padding-left: 0.5rem;

      table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        font-size: 0.875rem;

        tr:nth-child(odd) {
          background-color: #eee;
        }

        td {
          padding: 0.45rem;
          font-size: 1rem;
          vertical-align: top;
          word-wrap: break-word;
          text-align: left;

          &:first-child {
            width: 20%;
            white-space: normal;
          }

          &:last-child {
            width: 50%;
          }

          a {
            background-color: inherit;
            text-decoration: none;
            color: black;
            padding-left: 0;
            border-radius: 0.3125rem;
            transition: background-color 0.3s;

            &:hover {
              color: rgb(82, 82, 141);
              text-decoration: underline !important;
            }
          }

          .btn {
            background-color: inherit;
            padding-left: 0;
            border: none;

            &:hover {
              color: rgb(82, 82, 141);
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

:host-context(.more-details) {
  .card {
    background-color: #eef2f5;
    border-radius: 10px;

    .card-image {
      .image-container {
        background-color: #f4f4f4;
      }

      .button-container {
        .btn-buy {
          background-color: rgb(191, 180, 247);
        }

        .btn-preview {
          background-color: #f0eded;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  :host-context(.book-card) {
    .title {
      font-size: 0.8rem;
      margin-bottom: 0;
    }

    .card {
      padding: 0.5rem;
      font-size: 0.5rem;
      margin: 0;

      .card-image {
        flex: 0 0 25%;
        max-width: 25%;

        img {
          border-radius: 1rem;
        }

        .button-container {
          .btn-buy,
          .btn-preview {
            font-size: 0.5rem;
            padding: 0.475rem 0.3rem;
          }
        }
      }

      .card-body {
        padding-left: 1rem;

        table {
          font-size: 0.6rem;

          td {
            padding: 0.35rem;
            font-size: 0.6rem;

            a,
            .btn {
              font-size: 0.6rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 2560px) {
  :host {
    .title {
      font-size: 1.25rem;
    }

    .card {
      gap: 3rem;
      margin: 2rem;

      .card-image {
        flex: 0 0 30%;
        max-width: 30%;

        img {
          border-radius: 1rem;
        }

        .button-container {
          .btn-buy,
          .btn-preview {
            font-size: 1.125rem;
            padding: 1rem 1.25rem;
          }
        }
      }

      .card-body {
        padding-left: 2rem;

        table {
          font-size: 1.25rem;

          td {
            padding: 1rem;
            font-size: 1.25rem;

            a {
              font-size: 1.125rem;
            }

            .btn {
              font-size: 1.125rem;
            }
          }
        }
      }
    }
  }

  :host-context(.book-card) {
    .card {
      padding: 1rem;
      font-size: 1.125rem;

      .card-image {
        flex: 0 0 25%;
        max-width: 25%;

        img {
          border-radius: 1rem;
        }

        .button-container {
          .btn-buy,
          .btn-preview {
            font-size: 1rem;
            padding: 0.875rem 1.25rem;
          }
        }
      }

      .card-body {
        padding-left: 1.5rem;

        table {
          font-size: 1.125rem;

          td {
            padding: 0.75rem;
            font-size: 1.125rem;

            a,
            .btn {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
