
/* Reset and full height setup */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.app-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Push content down below fixed navbar */
.content {
    margin-top: 3rem; /* Same as nav height */
    height: calc(100vh - 3rem);
    // height: 64.5rem;
    // height: 100%;
    // flex: 1;
    overflow-y: auto;
    // padding: 1rem 0.5rem 0 0.5rem;
    box-sizing: border-box;
}
