
/* Reset and full height setup */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.app-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Push content down below fixed navbar */
.content {
    overflow-y: auto;
    box-sizing: border-box;
  }
  
  .with-navbar {
    margin-top: 3rem;
    height: calc(100vh - 3rem);
  }
  
  .full-height {
    margin-top: 0;
    height: 100vh;
  }
  
