.filters-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  display: flex;
  align-items: center;
  // gap: 0.2rem;
  border: 1px solid gray;
  padding: 6px 0.3rem;
  background-color: #fff;
  cursor: pointer;
  font-size: 0.95rem;

  &:hover {
    background-color: #f1f1f1;
  }
}

.searchButton {
  // margin-right: 2.5rem; 
  display: flex;
  border: 1px solid gray;
  border-radius: 6px;

  button {
    border: none;
    padding: 0;
  }
}

.right-side-options {
  display: flex; 
  // justify-content: stretch; 
  gap: 1rem;
  margin-right: 4rem;

  // .btn {
  //   margin-right: 1rem;
  // }

  .form-control {
    padding: 0;
    border: none;
    box-shadow: none;
  }
}

select {
  border: none;
  padding: 6px 0.3rem;
  border: 1px solid gray;
  border-radius: 6px;
  margin-left: 3rem;
}
