:host {
  .filters-page {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .select-dropdown {
      position: relative;
      border: 1px solid gray;
      border-radius: 6px;
      margin-left: 1.8rem;
      width: 140px;
      display: flex;
      align-items: center;
      background-color: #fff;

      select {
        padding: 6px 0rem;
        border: none;
        width: 100%;
        appearance: none;
        background: none;
        outline: none;
        font-size: 0.95rem;
        padding-left: 10px;
      }

      i {
        position: absolute;
        right: 10px;
        pointer-events: none;
      }
    }

    button {
      display: flex;
      align-items: center;
      border: 1px solid gray;
      padding: 6px 0.3rem;
      background-color: #fff;
      cursor: pointer;
      font-size: 0.95rem;

      &:hover {
        background-color: #f1f1f1;
      }
    }

    .right-side-options {
      display: flex;
      gap: 1rem;
      margin-right: 1.8rem;

      .form-control {
        padding: 5px;
        border: none;
        box-shadow: none;
        outline: none;
        font-size: 0.95rem;
        padding-right: 0;
      }

      .searchButton {
        display: flex;
        border: 1px solid gray;
        border-radius: 6px;
        align-items: center;
        overflow: hidden;

        input {
          border: none;
          outline: none;
        }

        button {
          border: none;
          background-color: #fff;
          cursor: pointer;
          padding: 6px;
          border-radius: 0;
        }

        i {
          font-size: 1rem;
        }
      }

      span {
        padding-left: 5px;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .filters-page {
      // margin-top: 0.6rem;
      padding: 0.3rem 0;
    }
  }

  @media screen and (min-width: 2560px) {
    .filters-page {
      font-size: 1.5rem;
      padding: 0.3rem 1rem;
      margin-top: 2.3rem;
  
      .select-dropdown {
        width: 330px;
        height: 80px;
  
        select {
          font-size: 2.2rem;
          padding: 14px 14px 14px 20px;
        }
  
        i {
          font-size: 2.2rem;
          right: 16px;
        }
      }
  
      button {
        font-size: 2.2rem;
        height: 80px;
        padding: 12px 18px; 

        
      }
  
      .right-side-options {
        gap: 2rem;
        button .btn {
          font-size: 2.2rem;
          padding: 0.5rem;
        }
        .form-control {
          font-size: 2.2rem;
          padding: 12px 16px;
        }
  
        .searchButton {
          height: 80px;
  
          input {
            font-size: 2.2rem;
            padding: 12px;
          }
  
          button {
            padding: 12px 14px;
          }
  
          i {
            font-size: 1.5rem;
          }
        }
  
        span {
          font-size: 2.2rem;
        }
      }
    }
  }
}  