<div class="d-flex" style="justify-content: space-between;">
  <div style="margin-left: 2.5rem;">
    <select
      id="selectBook"
      class="form-control"
      [value]="selectedBook"
      (change)="onBookSelect($event)"
      style="padding: 0.25rem 0.25rem; width: 200px;"
    >
      <option value="">Select a Book</option>
      <option value="HTML">HTML</option>
      <option value="CSS">CSS</option>
      <option value="JavaScript">JavaScript</option>
      <option value="NodeJS">NodeJS</option>
      <option value="Python">Python</option>
      <option value="MongoDB">MongoDB</option>
      <option value="Node">Node</option>
      <option value="DataBases">DataBases</option>
      <option value="JSON">JSON</option>
      <option value="AWS">AWS</option>
      <option value="Flask">Flask</option>
      <option value="Angular">Angular</option>
      <option value="Express">Express</option>
    </select>
  </div>
  <div style="display: flex; justify-content: flex-end; gap: 1rem;">
    <div>
      <button class="btn">
        sort by price
        <span (click)="sortAscendingOrder()">↑</span>
        <span (click)="sortDescendingOrder()">↓</span>
      </button>
    </div>
    
    <div style="margin-right: 2.5rem;">
      <input
        class="form-control"
        [value]="searchText"
        placeholder="Search by title or subtitle"
        (input)="onSearchInput($event)"
      />
    </div>
  </div>
</div>
